 <div class="user-details">
  <h1> About Me </h1>
  <p style="text-align:justify;"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Developer <br> skills</h2>
      <i class="devicon-devicon-plain"></i>
      <p>NodeJS, ReactJS, C#, Javascript, PHP, Python, ASP, SQL, Bash, HTML5.</p>
    </div>
    <div class="tech">
        <h2>Security <br> Analysis</h2>
        <i class="devicon-debian-plain colored"></i>
          <i class="devicon-linux-plain"></i>
          <i class="devicon-windows8-original colored"></i>
          <p>Techniques for the discovery and exploitation of vulnerabilities in both Windows and Linux systems.</p>
        </div>
    <div class="tech">
      <h2>Task <br> Automation</h2>
      <i class="devicon-chrome-plain"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Solid knowledge in the use of libraries for the automation of web tasks.</p>
    </div>
  </div>
  <div class="user">
      <div class="tech">
        <h2>NOC/SOC <br> Analysis</h2>
        <img style="width: 70%; height: 30%;" src="{{ "/assets/img/scanvirus.jpg" | prepend: site.baseurl }}">
          <p>Incident management through IDS, IPS, networking, log analysis or network traffic analysis.</p>
        </div>
        <div class="tech">
            <h2>Ethical Hacking <br>and pentesting</h2>
            <img style="width: 70%; height: 30%;" src="{{ "/assets/img/security.jpg" | prepend: site.baseurl }}">
            <p>Security audits where it takes Footprinting, Analysis and exploitation of vulnerabilities and escalation of privileges.</p>
          </div>
      <div class="tech">
        <h2>Campaign <br> development</h2>
        <img style="width: 70%; height: 30%;" src="{{ "/assets/img/MarketingDigital.png" | prepend: site.baseurl }}">
        <p>Ability to create and develop educational awareness campaigns to prevent computer crimes.</p>
      </div>
    </div>
    