<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  Essential META Tags -->

  <meta property="og:title" content="Binary Chaos">
  <meta property="og:description" content="Security Penetration Testing Services.">
  <meta property="og:image" content="https://hackingprofessional.github.io/Security/images/wall.jpg">
  <meta property="og:url" content="https://hackingprofessional.github.io/about/">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="https://hackingprofessional.github.io/about/favicon.png" />
  <link rel="shortcut icon" href="https://hackingprofessional.github.io/about/favicon.ico" />
</head>
