<div id="particles-js">
  <div class="header">
      <h3>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h3>
      <hr style="width: 50%; background-color: #E83951; border-color: #E83951;">
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:gerueda6@misena.edu.co"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://www.facebook.com/Gerh002"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My website I" target="_blank" href="https://HackingProfessional.github.io/Security"><i class="icon fa fa-shield" aria-hidden="true"></i></a>
        <a aria-label="My website II" target="_blank" href="https://hackingprofessional.github.io/HTB/"><i class="icon fa fa-shield" aria-hidden="true"></i></a>
        <a aria-label="HackTheBox" target="_blank" href="https://www.hackthebox.eu/profile/67969"><i class="icon fa fa-trophy" aria-hidden="true"></i></a>        
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Certifications</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
