<div class="user-details">
  <h1> Certifications </h1>
</div>
<div class="user-projects">
  <div class="images-right">
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fdba0575-8bfd-491a-9670-60322ba4c5c7"></div>
  </div>
  
  <div class="contents">
    <h3> Comptia Security + SY0-501 </h3>
    <ul>
      <li> <b>Comptia</b></li>
    </ul>
    <p> <b>Acquired skills:</b> <br>Access Control, CompTIA, Cryptography, Cyber Forensics, Data Security, Disaster Recovery Planning, Firewall Configuration, Malware Identification, Mobile Device Security, Network Security, Security Configuration, Security Policies, Threat Analysis, Threat Detection.</p>
    <a class="project-link" href="https://www.youracclaim.com/badges/fdba0575-8bfd-491a-9670-60322ba4c5c7/embedded">Check it out</a>
  </div>
  
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="{{ "/assets/img/FortinetCerts.png" | prepend: site.baseurl }}" />
     </div>
  
    <div class="contents">
      <h3> Network Security Expert (NSE 3) </h3>
      <ul>
        <li> <b>Fortinet</b></li>
      </ul>
      <p> <b>Certificates:</b> <br> NSE1 Network Security Associate is the entry level designation of the Fortinet Network Security Expert (NSE) program. It is intended to provide a basic understanding of the threat landscape facing networks today. <br> NSE2 Network Security Associate designation indicates that you understand the core Fortinet solutions and can reference those products that comprise them. <br> NSE3 Network Security Associate designation indicates that you have a basic understanding of Fortinet products.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
